body {
  background-image: url("../image/fondPres.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.titreh1 {
  display: flex;
  margin: auto;
  color: aliceblue;
  text-align: center;
  font: 900 normal 5rem 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  position: absolute;
  left: 39%;
  top: 10%;
}
.titreh2 {
  text-align: center;
}
.presTextSection{
  position: absolute;
  top: 15rem;
  left: 30rem;
  background-color: #303030;
  opacity: 0.98;
  width: 60%;
  color: white;
  position: absolute;
  left: 20%;
  top: 20%;
}
.presPartie1 {
  border-width: 4px;
  border-style: double;
  background-color: #808080;
}
.presPartie2 {
  border-width: 4px;
  border-style: double;
  background-color: #808080;
}
.presPartie3 {
  border-width: 4px;
  border-style: double;
  background-color: #808080;
}
.presPartie4 {
  border-width: 4px;
  border-style: double;
  background-color: #808080;
}
a {
  color: black;
}

/* Animation property */

button {
    animation: wiggle 2s linear infinite;
  }
  
  /* Keyframes */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  
  
  button {
    position: absolute;
    left: calc(0 - 3em);
    top: calc(0 - 2em);
    
    height: 4em;
    width: 7em;
    
    background-color: pink;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
  }
  .bouton-retour{
    position: fixed;
    top: 90%;
  }
